<div id="bio">
    <h2>Biography</h2>
    <p>Katherine is a digital artist who has been focusing on becoming a web developer. 
        This gave her a new point of view has given her a new perspective on how variables 
        affect objects in a more general sense. The chain reaction from one event to another 
        has been her focal point of attention. From this focal point, she re-discovered 
        absurdism and dadaism. As nobody was born special and no art is not imitating life. 
        Sentient life has to contemplate and emulate something that lets them make sense 
        of whatever input we are getting and help them keep on living. </p>
    </div>