<div id="shorBio">
    <h1>Katherine is a digital artist whose work enmulates early dada and futurism movements.</h1>
    </div>
    
    <div id="gallery">
        <section class="project">
            <div class="artwork">
            <img src="assets/img/d.png" alt="">
            </div>
            <div class="description">
                <h2>Golden eye</h2>
                <p>Gustav Klimt inspired this series. His abstract shapes around his human figures 
                    look very balanced and dreamy. I tried to emulate this facade as much as possible 
                    without becoming him. I brought some looseness and modernity with the stock 
                    photographs I pulled from prexel.</p>
                </div>
        </section>
     <section class="project project-alt">
            <div class="artwork">
            <img src="assets/img/f.png" alt="">
            </div>
            <div class="description">
                <h2>Uncontrollable laughter</h2>
                <p>Organic lines against marked sharpie. Inverted colors with a deep smile going against 
                    the shapes of jagged lines of broken pages. Because of the busy ambient atmosphere, 
                    I couldn't find a better way to introduce Gustav’s geometric shapes into place. 
                    Although, the sunflowers with almost golden petals shine above and brightly.</p>
                </div>
            </section>
        <section class="project">
            <div class="artwork">
            <img id="dream" src="assets/img/g.png" alt="">
            </div>
            <div class="description">
                <h2>Have to be asleep to dream</h2>
                <p>Sun rises early in the morning when the skies are dark blue above. The stars are still 
                    visible. It has a layer of a galaxy far from us all. Skies are evaporated water and 
                    she is under the water. She is surrounded by glow in a dreamy state. Dreamy sharp 
                    organic lines. Glowing on her own.</p>
                </div>
        </section>
        <section class="project project-alt">
            <div class="artwork">
            <img src="assets/img/h.png" alt="">
            </div>
            <div class="description">
            <h2>Not anymore</h2>
            <p>Photographs in lower orbit with momentaneous Snaps of life. Manually cut jagged geometric shapes. 
                Buildings soar into the sky. They point to an airplane that's flying towards its destination. 
                Urban picture. A collage of everyday life.</p>
            </div>
            </section>
        <section class="project">
            <div class="artwork">
            <img src="assets/img/n.png" alt="">
            </div>
            <div class="description">
                <h2>Rising buildings</h2>
                <p>Rising buildings towards a black moon. A quarter of a moon blazing above in the pink or green 
                    or purple skies. Evaporated water sky divided in rectangle shapes in creamy colors. Like 
                    ice cream. Dream catcher catches a dream where the blazing sun is. Awake the dreamer.</p>
                </div>
        </section>
        <section class="project project-alt">
            <div class="artwork">
            <img src="assets/img/e.png" alt="">
            </div>
            <div class="description">
                <h2>Pink lips</h2>
                <p>Blue overwhelms the picture but pink is bright enough on a small amount. Lips as red as the 
                    dying flowers on top of books. Overshadowed by lips are old flowers under pink shadow. 
                    In this collage, shadows contradict themselves. I let lots of white space to leave a 
                    little breathing room. The yellow flowers do nothing but just sit there. </p>
                </div>
        </section>
    </div>